<section id="section-welcome" class="container">
  <div class="jumbotron d-flex justify-content-start align-items-end">
    <div id="welcome-text" class="mr-3 p-5 text-light">
        <!-- <h1 class="text-light">What did the dog say before he left for work? “Just another day at the paw-ffice!”</h1> -->
        <p class="mb-0">What did the dog say before he left for work? “Just another day at the paw-ffice!”</p>
    </div>
  </div>
</section>


<section id="section-hours" class="container"><!-- hours section -->
  <table class="table">
    <tr>
      <th>
        Day
      </th>
      <th>
        Hours
      </th>
    </tr>
    <tr>
      <td>
        Monday
      </td>
      <td>
        9am-5pm
      </td>
    </tr>
    <tr>
      <td>
        Tuesday
      </td>
      <td>
        9am-5pm
      </td>
    </tr>
    <tr>
      <td>
        Wednesday
      </td>
      <td>
        9am-5pm
      </td>
    </tr>
    <tr>
      <td>
        Thursday
      </td>
      <td>
        9am-5pm
      </td>
    </tr>
    <tr>
      <td>
        Friday
      </td>
      <td>
        9am-5pm
      </td>
    </tr>
    <tr>
      <td>
        Saturday
      </td>
      <td>
        9am-5pm
      </td>
    </tr>
    <tr>
      <td>
        Sunday
      </td>
      <td>
        9am-5pm
      </td>
    </tr>
  </table>
</section><!-- hours section -->


